@font-face {
    font-family: IRAN;
    font-style: normal;
    font-weight: bold;
    src: url("../assets/fonts/IRAN_SemiBold.woff2") format("woff2")
}

@font-face {
    font-family: IRAN;
    font-style: normal;
    font-weight: 900;
    src: url("../assets/fonts/IRANBlack.woff2") format("woff2");
}
@font-face {
    font-family: IRAN;
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/IRAN_SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: IRAN;
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/IRAN.woff2") format("woff2");
}

body,button,input,optgroup,select,textarea {
    font-family: IRAN;
}