/*Reset*/
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*root Variable*/
:root {
    --color--primary: #570357;
    --color--secondary: #d648e1;
    --color--white: #ffffff;
    --color--text: #000025;
}

html {
    font-size: 62.5%;
}

body{

}

li, ul {
    list-style: none;
}

a{
    text-decoration: none;
}

input{
    border-radius: 12px;
    padding: 5px;
}
input:focus{
    outline: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

textarea{
    resize: none;
}

.completed{
    color: green;
    text-decoration: line-through;
    opacity: 0.5;

}



header{
    display: flex;
    justify-content: center;
    color: var(--color--white);
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}


.section{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    margin:auto;
    gap: 2rem;
    background-color: var(--color--primary);
    width: 80%;
    height: 50rem;
    align-items: center;
    border-radius: 12px;

}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    align-items: center;

}

.add__form{
    display: flex;
    gap: 1rem;
}

.add__form button{
    background-color: var(--color--secondary);
    border-radius: 8px;
    width:5rem;
    color: var(--color--white);
}

select{
    border-radius: 8px;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: auto;

}

.list::-webkit-scrollbar {
}

.list__li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    font-size: 1.4rem;
    color: var(--color--white);
    border: 2px solid var(--color--secondary);
    border-radius: 12px;
    padding: 1rem;
    width: fit-content;
    margin-top: 2rem;
}

.list__li button{
    background-color: var(--color--secondary);
    border-radius: 8px;
    width:5rem;
    color: var(--color--white);
}

.list__li .check{
    background-color: #15b315;
}

.list__li .remove{
    background-color: #bc1717;
}

