*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body{

}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

.header{
    overflow: hidden;
    width: 1px;
    height: 1px;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.list__li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;

}